* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.key {
    padding: 15px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.key:hover {
    background-color: #2980b9;
}

.function-key {
    background-color: #e74c3c;
}

.space-key {
    grid-column: span 2;
}

.enter-key {
    grid-column: span 2;
    background-color: #2ecc71;
}

.delete-key {
    background-color: #f39c12;
}