h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-gap: 10px;
    flex-flow: column;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    height: 150px;
}

li {
    background-color: #eee;
}
.flex ul li img {
    gap: 10px;
    justify-content: space-between;
}