body {
    background: #edeaff;
}

.stopwatch {
    width: 90%;
    min-width: 600px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}