* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

ul {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

ul li {
    list-style: none;
    padding: 0.1rem;
    margin: 0.3rem;
    overflow: hidden;
}

[contenteditable] {
    border: 2px outset #3333;
    inline-size: 15%;
    display: inline-block;
    block-size: 40px;
    overflow-y: hidden;
    white-space: nowrap;
    text-wrap: nowrap;
    resize: none;
}