@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poiret+One&family=Roboto:wght@500&display=swap');
body {
    font-family: 'Poiret One', sans-serif;
    overflow: hidden;
    background-color: black;
}

.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock {
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    background: rgba(0, 0, 0, 0.137);
}

.digitalClock h1 {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}

@media (max-width:768px) {
    #bar1,
    #bar2 {
        display: none;
    }
    .digitalClock {
        text-align: center;
        width: 100%;
    }
    .digitalClock h1 {
        display: block;
    }
}

@media (max-width:480px) {
    .digitalClock h1 {
        font-size: 4rem;
    }
}