html {
    cursor: none;
    background-color: #2d2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#containerOne {
    cursor: none;
    background-color: red;
    width: 10px;
    height: 10px;
    position: absolute;
}