* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    transition: 0.6s;
}

.content {
    text-align: center;
}

button {
    cursor: pointer;
}

.dark {
    background-color: black;
    color: white;
    transition: 0.6s;
}